html {
    height: 100%;
    width: 100%;
  }
  
  body {
    background-color: #202124;
    font-family: Roboto, arial, sans-serif;
  }
  
  ul {
    list-style-type: none;
  }
  
  a {
    color: rgb(189, 193, 198);
    text-decoration: none;
    font-size: 14px;
  }
  
  li:hover {
    text-decoration: underline;
    color: white;
  }